// General

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  overflow: hidden;
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    align-items: center;
    padding: 1em;
    font-weight: bold;
    color: #B4D902;
    cursor: pointer;
    /* Icon */
    &::before {
      margin-right: 1em;
      content: "";
      background-image: url('../assets/images/down-arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: #ffffff;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
  }
}

// :checked
input:checked {
  + .tab-label {
    &::before {
      margin-right: 1em;
      margin-top: 0.2em;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(90deg);
      transition-timing-function: ease-out;
    }
  }
  ~ .tab-content {
    max-height: 160vh;
    padding: 1em;
  }
}
